@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}

body {
    /* background-color: white; */
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    /* position: relative; */
    background: black;
}
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #2600ff #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
    background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #8e8e8e;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #878787;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #8e8e8e;
}

.mobile-menu {
    /* font-size: 2.3rem; */
    cursor: pointer;
    display: none;
}
.mobile-menu:hover {
    /* color: #147efb; */
    transition: all 0.3s;
}
@media (max-width: 900px) {
    .mobile-menu {
        display: flex;
    }
}

.closed-menu {
    left: -100% !important;
}

.open-menu {
    left: 0 !important;
}

.mobile-nav {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 300;
    /* background-color: white; */
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.mobile-nav span {
    /* font-size: 3.3rem; */
    position: absolute;
    /* top: 2rem; */
    /* right: 4rem; */
    cursor: pointer;
}
.mobile-nav span:hover {
    /* color: #147efb; */
    transition: all 0.3s;
}
.mobile-nav ul {
    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
    /* font-size: 2.3rem; */
    list-style: none;
}
.mobile-nav ul a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.mobile-nav ul a:hover {
    transition: all 0.3s;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.project_screenshot :hover {
    overflow-y: scroll;
    /* transition: overflow-y 5s ease-in-out; */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(-70%);
    }
}

.project_screenshot:hover {
    animation: scroll 5s ease-out;
}
